---
layout: home
title: "What"
excerpt: "Art + Museums Interacting"
lang: de
theme: magenta
logo: ami_logo_aqua.png
---

<div class="project-list-container">

  <p style="grid-column: 1 / 3;">{{ site.data.text.what[page.lang] }}</p>

  {% for project in site.projects %}
    <div class="project-item"><a href="{{ project.url }}" style="background-image: url('/img/{{ project.assets_folder }}/{{ project.thumbnail }}');">{% if project.coming_soon %}?{% else %}{{ project.title }}{% endif %}</a></div>
  {% endfor %}

</div>

