---
layout: default
title: "Who"
excerpt: "Art + Museums Interacting"
lang: de
theme: cyan
logo: ami_logo_pink.png
---

<h1>{{ site.data.text.who_header[page.lang] }}</h1>

<ul class="horizontal-image-links">
{% for partner in site.data.who %}
  <li>
    <a href="{{ partner.url }}" target="_blank" style="background-image: url('/img/who/{{ partner.image }}');">
      {{ partner.name }}
    </a>
  </li>
{% endfor %}
</ul>

<div class="body-text">
  {{ site.data.text.who[page.lang] | markdownify }}
</div>

{% include footer.html %}
